.click{
    padding: .9rem 1.2rem;
    font-weight: bold;
    background: $secondary;
    display: inline-block;
    border: 0;
    outline: 0;
    text-decoration: none;
    color: #fff;
    border-radius: .45rem;
    cursor: pointer;

    &:hover{
        color: $secondary;
        background: #fff;
    }
}

.center{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.page{
    @extend .center;
    max-width: 1300px;
    position: relative;
    padding: 4.5rem 2rem 2rem;

    .heading{
        text-align: center;
        color:$secondary;
        font-size:1.5rem;
        font-weight:600;
        padding: 1rem 0;
    }
}

.banner{
    width: 100%;
    background: lightgrey;
    height: calc(180px + 4vw);
    text-align: center;
    padding-top: calc(90px + 4vw);
    margin-bottom: 2rem;
    position: relative;

    img{
        position: absolute;
        top:0;
        left:0;
        z-index: 0;
    }

    h3{
        font-size: 1.8rem;
        color: #fff;
        z-index: 1;
        position: relative;
        background: linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.2),transparent);
        padding: .8rem;
    }
}

.backdrop{
    position: fixed;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.467);
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.visible{
    display: flex !important;
}

.form{
    width: 96%;
    max-width: 400px;
    background: #fff;
    border-radius: .4rem;
    padding: 1rem ;

    form{
        .formcontrol{
            padding: .3rem 0;
            display: flex;
            flex-direction: column-reverse;

            input,select,textarea{
                width: 100%;
                padding:  .45rem .7rem ;
                border:1px solid  lightgrey;
                display: block;
                outline: none;
                border-radius: .3rem;
                resize: none;
            }
            

            label{
                color: grey;
                font-size: .9rem;
            }
        }

        .label{
            color: $secondary;
            font-size: 1.25rem;
            font-weight: 600;
            text-align: center;
            padding: .5rem 0;
        }

        .click{
            @extend .center;
        }
    }
}

.clickables{
    position: fixed;
    right: 0;
    bottom: 30vh;
    // background: yellow;
    z-index: 10;
    direction: rtl;
    
    .clickable{
        display: block;
        margin: .4rem;
        box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: row-reverse;

        span{
            display: none;
            visibility: hidden;
            transition: all .4s;
            margin-left: 1rem;
        }

        i{
            font-size: 1.3rem;
        }

        &:hover{
            span{
                display: inline-block;
                visibility: visible;
            }
        }
    }
}